body {
  background-color:#f8f8f8; 
  font-family: 'Lato', sans-serif; 
}

#contact-form {
  width:500px; 
  margin:0 auto; 
  background-color:#fff; 
  border:2px solid #f3f3f3; 
  padding:50px; 
  margin-top:20px; 
}

#contact-form {
  display:block; 
  margin-bottom:10px; 
  font-weight:bold; 
  text-transform: uppercase; 
  font-size:12px; 
  color:#555555; 
}

#contact-form textarea,
#contact-form input {
  padding: 10% 5%; 
  border:none; 
  border-bottom:2px solid #ccc; /
  margin-bottom:25px; 
  width:90%; 
  font-family: Arial, Helvetica, sans-serif; 
}

#contact-form input#submit {
  width:100%; 
  cursor:pointer; 
  margin-bottom:0px; 
  color:#fff; 
  background-color: #5bc0df; 
  border-bottom:5px solid #46b8db; 
}

#contact-form input#submit:hover,
#contact-form input#submit:focus {
  background-color: #85d0e7; 
}

#contact-form p.copy {
  color:#ccc; 
  margin-bottom:0px; 
  font-size:12px;
  text-align: center; 
}

#contact-form p.copy a {
  color:#ccc; 
  text-decoration: none; 
  font-weight:bold; 
}